table._3ahFrUuYRFs3M_wu0OcCr7  { width: 600px; border:1px solid black; border-collapse:collapse; }
table._3ahFrUuYRFs3M_wu0OcCr7 td, table._3ahFrUuYRFs3M_wu0OcCr7 th { border:1px solid black;  text-align:center; }
table._3ahFrUuYRFs3M_wu0OcCr7 > thead > tr { color:yellow; background-color: purple; }